<div class="form-group">
    <label>{{localize "TOKEN.VisionLowLight"}}:</label>
    <input type="checkbox" name="flags.pf1.lowLightVision" data-dtype="Boolean" {{checked object.flags.pf1.lowLightVision}}/>

    <label>{{localize "TOKEN.VisionLowLightMultiplier"}}</label>
    <input type="number" name="flags.pf1.lowLightVisionMultiplier" data-dtype="Number" placeholder="2" value="{{object.flags.pf1.lowLightVisionMultiplier}}"/>
</div>
